-i https://pypi.tuna.tsinghua.edu.cn/simple
mike
mkdocs
mkdocs-material
mkdocs-markdownextradata-plugin
mkdocs-pymdownx-material-extras
mkdocs-mermaid2-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin
mkdocs-minify-plugin
pymdown-extensions