h1 {
    background: -webkit-linear-gradient(120deg, #008989 30%, #6AC900);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h2 {
    background: -webkit-linear-gradient(120deg, #008989 60%, #6AC900);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h3 {
    background: -webkit-linear-gradient(120deg, #008989 60%, #6AC900);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.medium-zoom-overlay {
    z-index: 20;
}

.medium-zoom-image {
    z-index: 9999 !important; /* 给的值是21，但是实测盖不住，直接999 */
}

:root {
    --vp-home-hero-name-color: transparent;
    /*--vp-home-hero-name-background: -webkit-linear-gradient(120deg, #008989 30%, #6AC900);*/

    /*--vp-home-hero-image-background-image: linear-gradient(-45deg, #FFF5C3 50%, #FFF5C3 50%);*/
    --vp-home-hero-image-filter: blur(44px);
    /* brand按钮 */
    /*--vp-button-brand-border: white;*/
    --vp-button-brand-text: white;
    --vp-button-brand-bg: #28C76F;
    /*--vp-button-brand-hover-border: white;*/
    --vp-button-brand-hover-text: white;
    --vp-button-brand-hover-bg: #2AFADF;

    --vp-button-brand-active-border: white;
}

.VPHero .image {
    max-width: 780px;
    max-height: 380px;
}
